<div class="row">
    <div class="col-sm-6">
        <form>
            <div class="form-group">
                <label>Departure Station</label>
                <select class="form-control" ng-model="train.departure_id" ng-change="train.selectDeparture()">
                    <option value="" disabled selected>(Select Departure Station)</option>
                    <option ng-repeat="option in train.departure_stations | orderBy: 'name'" ng-value="option.station_code">{{option.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Arrival Station</label>
                <select class="form-control" ng-model="train.arrival_id"  ng-change="train.selectArrival()">
                    <option value="" disabled selected>(Select Arrival Station)</option>
                    <option ng-repeat="option in train.arrival_stations | orderBy: 'name'" ng-value="option.station_code">{{option.name}}</option>
                </select>
            </div>
        </form>
        <leaflet center="train.mapcenter" markers="train.markers" path="train.paths" height="480px" style="width:100%"></leaflet>
    </div>
    <div class="col-sm-6">
        <h4>From: <b>{{train.departure.name}} {{train.departure_id}}</b></h5>
        <h4>To: <b>{{train.arrival.name}} {{train.arrival_id}}</b></h5>

        <table class="table table-hover table-responsive table-condensed">
            <thead>
                <tr>
                    <th>Train</th>
                    <th>Platform</th>
                    <th>Departure Time</th>
                    <th>Arrival Time</th>
                    <th>Travel Time</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="schedule in train.routeInfo.departures.all | orderBy: 'expected_departure_time'">
                    <td><fa name="train"></fa> {{schedule.train_uid}}</td>
                    <td class="text-center"><span class="badge">{{schedule.platform}}</span></td>
                    <td>{{schedule.aimed_departure_time}}</td>
                    <td>{{schedule.aimed_arrival_time}}</td>
                    <td>{{schedule.aimed_arrival_time - schedule.aimed_departure_time}}</td>
                </tr>
            </tbody>
        </table>
        <div ng-if="train.routeInfo.departures.all.length == 0"  class="text-center">
            <p>
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> No route info available between <b>{{train.departure.name}}</b> and <b>{{train.arrival.name}}</b>.
            </p>
        </div>
    </div>
</div>